@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Rock+Salt&display=swap');

body {
    text-align: center;
    font-family: Roboto, serif;
    margin: 0px;
}

nav, footer {
    text-align: center;
    background-color: steelblue;
    padding: 25px;
}

nav a {
    color: white;
    margin: 40px;
    text-decoration: none;
    font-size: 1.5em;
    border-radius: 9px;
}

a:hover {
    background-color: white;
    color: steelblue;
}

h1 {
    color: steelblue;
    text-align: center;
    font-family: 'Rock Salt', 'Bradley Hand', cursive;
    margin: 50px 0;
}

img {
    display: block;
    width: 80%;
    border: 5px solid steelblue;
    margin: 0 auto;
    border-radius: 9px;
    box-shadow: 15px 15px 10px #ccc;
}

p {
    padding: 10px;
    width: 80%;
    margin: 50px auto;
    text-align: center;
}

.main-para {
    font-size: 1.5em;
}

footer p {
    font-size: 20px;
    margin: 20px auto;
}